<div class="container text-center">
    <h2 class="alert alert-success" *ngIf="successMessage">{{successMessage}}</h2>
  <button class="btn btn-primary my-3" [routerLink]="['/product',0]">Add product</button>
  <ng-container *ngIf="productList.length > 0; else nodata">
    <div class="row my-5">
      <div class="col-12 col-md-6 px-1" *ngFor="let  p of productList ; let i = index">
        <div class="card pe-2 mb-2">
          <div class="row g-0">
            <div class="col-md-4">
              <img [src]="p.coverImage" class="img-fluid rounded-start" alt="{{p.name}}">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Name : {{p.name}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary text-capitalize">Category : {{p.category}}</h6>
                <p class="card-text">Description : {{p.description}}</p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Price : {{p.price}} </span>
                    <span>Quantity : {{p.quantity}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <button class="btn btn-success rounded col-5" [routerLink]="['/product',p.id]">Edit</button>
                    <button class="btn btn-danger  rounded col-5" (click)="delete(p.id, i)">Delete</button>
                  </li>
                </ul>
              </div>
              <div class="d-flex justify-content-evenly align-items-center flex-wrap">
                <div *ngFor="let  image of p.images" class=" rounded-circle col-3">
                  <img [src]="image" [alt]="p.name" class="rounded-image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #nodata>
    <p class="text-danger h1 my-5">No products found.</p>
  </ng-template>
</div>

