<a
  class="card h-80"
  [routerLink]="['/product-details', product?.id]"
  (click)="navigateToDetails()"
>
  <img
    [src]="product?.coverImage"
    class="card-img-top"
    alt="{{ product?.name }}"
  />
  <div class="card-body">
    <div class="title">
      <h5 class="card-title">{{ product?.name }}</h5>
      <span class="seller">Seller</span>
    </div>
    <span class="category">{{ product?.category }}</span>
    <p class="card-price">E.G.P {{ product?.price }}</p>
    <button class="btn">Add to cart</button>
  </div>
</a>
