<main>
    <div class="hero">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel"
            data-bs-interval="1800">
            <div class="opacity-layer"></div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/imgs/crousel/boho-macrame-assortment-indoors.jpg" class="d-block w-100"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/imgs/crousel/crop-woman-crafting-decoration.jpg" class="d-block w-100"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/imgs/crousel/people-meeting-barter-event-exchange-goods.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/imgs/crousel/wooden-art-pieces-painting-process.jpg" class="d-block w-100"
                        alt="...">
                </div>
            </div>
            <div class="crousel-cap">
                <h1>Welcome to HandiiCrafts</h1>
                <p>We are born makers .. we move what we 're learning from our heads to our hearts through our hands ..
                </p>
                <a href="#about-us"><button id="know-us" class="btn">Know more about us</button></a>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>
    <div class="New-arrivals my-5">
        <div class="top">
            <h1>new arrivals</h1>
            <p>We are delighted to announce new arrivals</p>
        </div>
        <div class="divider"></div>
        <div class="bottom">
            <div class="container text-center" >
                <div class="row row-cols-1 row-cols-md-5"  *ngIf="newArrival && newArrival.length > 0; else noProducts">
                    <div class="col" *ngFor="let p of newArrival">
                        <app-card-home [product]="p"></app-card-home>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noProducts>
            <div class="alert alert-danger">No new products</div>
        </ng-template>
    </div>
    <div class="About-us" id="about-us">
        <div class="container">
            <div class="left">
                <img src="../../../assets/imgs/about/about1.png" alt="">
            </div>
            <div class="right">
                <div class="title">
                    <h2>Who we are?</h2>
                </div>
                <div class="desc">
                    <div class="top">
                        <p>
                            We are a team of four passionate female developers who came together during our graduation
                            internship at the Information Technology Institute (ITI), specializing in Angular frontend
                            development. Our project reflects both our technical growth and creative spirit, as we aimed
                            to build a responsive, user-friendly web application that showcases handcrafted products in
                            an elegant and accessible way.</p>
                    </div>
                    <div class="divider"></div>
                    <div class="bottom">
                        <p>
                            The idea behind our project, "Handicrafts," is to create a digital platform that supports
                            and promotes local artisans and handmade product sellers. The platform serves as an online
                            marketplace where users can explore a wide range of unique, handcrafted items—each with its
                            own story and cultural value. Whether it's traditional crafts, customized gifts, or
                            eco-friendly handmade products, our goal is to help small creators reach wider audiences
                            while offering customers a curated, authentic shopping experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-section">
        <div class="concave-bg"></div>
        <div class="container">
            <div class="contact-us">
                <div class="contact-box">
                    <h2 class="contact-title">Contact us</h2>
                    <div class="contact-list">
                        <ul>
                            <li>
                              <span class="icon">
                              <i class="fa-solid fa-location-dot fa-xl"></i>
                            </span>
                            <span class="txt">23st Cairo , Egypt</span>
                          </li>
                            <li>
                              <span class="icon">
                              <i class="fa-solid fa-envelope fa-xl"></i>
                            </span>
                            <span class="txt"> handiicrafts&#64;gmail.com</span>
                          </li>
                            <li>
                              <span class="icon">
                              <i class="fa-solid fa-mobile fa-xl"></i>
                            </span>
                            <span class="txt">+20 1023456789</span>
                          </li>
                        </ul>
                    </div>
                    <div class="contact-buttons">
                        <button><i class="fa-brands fa-facebook fa-xl"></i></button>
                        <button><i class="fa-brands fa-instagram fa-xl"></i></button>
                        <button><i class="fa-brands fa-linkedin fa-xl"></i></button>
                    </div>
                </div>
            </div>
            <div class="contact-divider"></div>
            <div class="contact-form-container">
                <h2 class="form-title">Get in touch</h2>
                <p class="form-desc"> feel free to drop what you want to tell us</p>
                <form class="contact-form">
                    <input type="text" placeholder="Your Name" required />
                    <input type="email" placeholder="Your Email" required />
                    <textarea placeholder="Your Message" required></textarea>
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>



</main>
