@media (max-width: 620px) {
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
}
@media (max-width: 620px) {
  .hero {
    max-width: 101%;
    overflow-x: hidden;
  }
  main .hero .carousel .crousel-cap {
    width: 100% !important;
  }
  main .hero .carousel .crousel-cap h1 {
    font-size: 2.7em !important;
  }
  main .hero .carousel .crousel-cap p {
    font-size: 1.1em !important;
  }
  main .hero .carousel .crousel-cap button {
    font-size: 1em !important;
    padding: 8px 19px !important;
  }
}
/* Hero section */
main .hero .carousel {
  position: relative;
}
main .hero .carousel .opacity-layer {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.493);
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100vh;
}
main .hero .carousel .carousel-inner .carousel-item img {
  height: 100vh;
  object-fit: cover;
}
main .hero .carousel .crousel-cap {
  position: absolute;
  z-index: 100;
  bottom: 15%;
  left: 13%;
  color: var(--text-light);
  width: 40%;
  flex-wrap: wrap;
}
main .hero .carousel .crousel-cap h1 {
  font-size: 3.3em;
  line-height: 1.4;
  text-transform: capitalize;
  font-weight: 500;
}
main .hero .carousel .crousel-cap p {
  font-size: 1.3em;
  color: rgb(134, 134, 134);
  width: 80%;
  font-weight: 300;
}
main .hero .carousel .crousel-cap .btn {
  margin: 10px 0;
  background-color: var(--fourth-color) !important;
  color: var(--text-light);
  font-size: 1.04em;
  font-weight: 400;
  padding: 10px 23px !important;
  box-shadow: 0px 2px 2px var(--fourth-color-hover);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
main .hero .carousel .crousel-cap .btn:hover {
  background-color: var(--fourth-color-hover) !important;
}

.carousel-control-prev,
.carousel-control-prev-icon,
.carousel-control-next,
.carousel-control-next-icon {
  z-index: 100;
}
.carousel-control-prev {
  padding-right: 50px;
  padding-top: 20px;
}
.carousel-control-next {
  padding-left: 50px;
  padding-top: 20px;
}

/* New arrivals */
.divider {
  margin: 10px auto 0;
  width: 20%;
  height: 1px;
  background-color: #6666663f;
}
main .New-arrivals .top {
  text-align: center;
  color: var(--text-dark);
  margin-top: 100px;
}
main .New-arrivals .top h1 {
  text-transform: capitalize;
  font-size: 3em;
}
main .New-arrivals .top p {
  text-transform: capitalize;
  color: rgb(134, 134, 134);
  font-size: 1.09em;
  margin-bottom: 40px;
}

main .New-arrivals .bottom {
  margin-top: 60px;
}
main .New-arrivals .container {
  --bs-gutter-x: 0 !important;
  padding-left: 0;
  padding-right: 0;
}
main .New-arrivals .bottom .row {
  --bs-gutter-x: 0.6em;
  margin-right: calc(-0.1 * var(--bs-gutter-x));
  margin-left: calc(-0.1 * var(--bs-gutter-x));
}

@media (max-width: 620px) {
  main .New-arrivals .top h1 {
    font-size: 2.7em;
  }
  main .New-arrivals .top p {
    font-size: 1.02em;
  }
  main .New-arrivals .container {
    --bs-gutter-x: 1.5rem;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  main .New-arrivals .bottom .row {
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 1rem;
    margin-right: calc(0.3 * var(--bs-gutter-x));
    margin-left: calc(0.3 * var(--bs-gutter-x));
  }
}
/* About us */
main .About-us {
  margin-top: 200px;
  background-color: var(--sec-bg-color);
  padding: 60px 20px;
}

main .About-us .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

main .About-us .container .left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .About-us .container .left img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.233);
}
main .About-us .container .right {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  color: var(--text-dark);
}
main .About-us .container .right .title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: capitalize;
}
main .About-us .container .right .desc p {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
  color: #606060;
  line-break: auto;
}
main .About-us .container .right .desc .bottom {
  margin-top: 20px;
  margin-bottom: 0;
}
main .About-us .container .right .desc .divider {
  width: 60px;
  height: 1px;
  background-color: #969696;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.233);
  margin: 30px 0;
}

@media (max-width: 620px) {
  main .About-us .container .left {
    width: 90%;
  }
  main .About-us .container .right .desc {
    align-items: center;
    text-align: center;
  }
  main .About-us .container .right .title h2 {
    font-size: 2.2rem;
  }
  main .About-us .container .right .desc .divider {
    margin: 1.5em auto;
  }
}
/* Contact section */
.contact-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  margin-top: 100px;
}

.concave-bg {
  position: absolute;
  top: 9%;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: 0;
  background-color: var(--secondary-bg-color);
}

.contact-section .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
}
.contact-section .container .contact-us .contact-box {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  gap: 25px;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 12px;
  max-width: 500px;
  width: 300px;
}
.contact-section
  .container
  .contact-us
  .contact-section
  .container
  .contact-us
  .contact-box
  .contact-list {
  margin-left: -10px;
  margin: 10px 0;
}
.contact-section .container .contact-us .contact-box h2 {
  font-size: 2.5em;
  align-self: start;
  text-transform: capitalize;
}
.contact-divider {
  width: 2px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.1);
}
.contact-section .container .contact-us .contact-box li {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}
.contact-section .container .contact-us .container.contact-box li .txt {
  font-size: 1em;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}
.contact-section .container .contact-us .contact-box li:hover .icon {
  color: var(--fourth-color-hover);
}
.contact-section .container .contact-us .contact-box li .icon {
  font-size: 0.9em;
  transition: all 0.2s ease-in-out;
}
.contact-section .container .contact-us .contact-box .contact-buttons {
  display: flex;
  gap: 15px;
  margin: 0 10px;
}
.contact-section .container .contact-us .contact-box .contact-buttons button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section
  .container
  .contact-us
  .contact-box
  .contact-buttons
  button:hover {
  color: var(--text-light);
  background-color: var(--fourth-color-hover);
  box-shadow: 0 4px 8px var(--fourth-color-hover);
}

.contact-form-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: start;
  margin: auto;
}

.form-title {
  margin-bottom: 5px;
  font-size: 2em;
  text-transform: capitalize;
  color: var(--text-dark);
}
.form-desc {
  margin-bottom: 20px;
  font-size: 0.9em;
  color: #6060608c;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  resize: none;
}
.contact-form textarea {
  height: 150px;
}

.contact-form button {
  background-color: #a569bd;
  color: white;
  padding: 6px 50px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.contact-form button:hover {
  background-color: #884ea0;
}
@media (max-width: 620px) {
  .concave-bg {
    height: 100%;
  }
  .contact-divider {
    width: 64px;
    height: 2px;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .contact-section .container {
    flex-direction: column-reverse;
    padding: 10px 10px;
  }
  .form-title {
    font-size: 1.8em;
    text-align: center;
  }
  .form-desc {
    font-size: 1em;
    text-align: center;
  }
  .contact-form textarea {
    height: 80px;
  }
  .contact-form button {
    padding: 6px 103px;
  }
  .contact-section .container .contact-us .contact-box {
    align-items: center;
  }
  .contact-section .container .contact-us .contact-box h2 {
    display: none;
  }
  .contact-section .container .contact-us .contact-box .contact-list {
    display: none;
  }
}
