<main>
    <div class="hero">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel"
            data-bs-interval="1800">
            <div class="opacity-layer"></div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/imgs/crousel/boho-macrame-assortment-indoors.jpg" class="d-block w-100"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/imgs/crousel/crop-woman-crafting-decoration.jpg" class="d-block w-100"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/imgs/crousel/people-meeting-barter-event-exchange-goods.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/imgs/crousel/wooden-art-pieces-painting-process.jpg" class="d-block w-100"
                        alt="...">
                </div>
            </div>
            <div class="crousel-cap">
                <h1>Welcome to HandiiCrafts</h1>
                <p>We are born makers .. we move what we 're learning from our heads to our hearts through our hands ..
                </p>
                <button id="know-us" class="btn">Know more about us</button>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>
    <div class="New-arrivals my-5">
        <div class="top">
            <h1>new arrivals</h1>
            <p>We delighted to pronounce about new comings</p>
        </div>
        <div class="bottom">
            <div class="container text-center">
                <div class="row row-cols-1 row-cols-md-5">
                    <div class="col" *ngFor="let p of products">
                        <app-card-home [product]="p"></app-card-home>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>